@{
    ViewBag.Title = "Administration";
}
<h2>@ViewBag.Title</h2>

<div id="projects" ng-app="AdminApp">
    <div>
        <ul id="systemTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#!Projects" data-target="#Projects" role="tab" data-toggle="tab">Projects</a>
            </li>
            @if (ViewBag.User.IsSystemAdmin == true)
            {
                <li role="presentation" class="">
                    <a href="#!SystemUsers" data-target="#SystemUsers" role="tab" data-toggle="tab">System Users</a>
                </li>
                <li role="presentation" class="">
                    <a href="#!SystemLogs" data-target="#SystemLogs" role="tab" data-toggle="tab">System Logs</a>
                </li>
            }
        </ul>
        <div ng-view></div>
    </div>
</div>

@section Scripts{
    @*<script src="@Url.Content("~/Scripts/admin.js")"></script>*@
    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/AdminApp.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/ProjectsController.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/SystemLogsController.js")"></script>
    <script src="@Url.Content("~/Scripts/Custom/SystemUsersController.js")"></script>
}